NODE_ENV=development
BASE_URL=http://localhost:3000
DB_HOST=localhost
DB_USER=nextstarter
DB_PASSWORD=supersecret
DB_NAME=nextstarter
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
BETTER_AUTH_SECRET=supersecret

GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GITHUB_CLIENT_ID=your-client-id
GITHUB_CLIENT_SECRET=your-client-secret

NODEMAILER_USER=noreply@example.com
NODEMAILER_APP_PASSWORD=apppassword

ADMIN_EMAILS=admin@example.com;ops@example.com

NEXT_PUBLIC_API_URL=http://localhost:3000/api
